<link rel="stylesheet" href="css/form.css">
<div class="form-container">
  <form id="signin-form" class="form">
    <div class="form-header">
      Welcome
    </div>
    <div id="signin-error" class="form-error"></div>
    <div class="form-body">
      <input class="form-input" type="email" name="email" placeholder="Email Address">    
      <input class="form-input" type="password" name="password" placeholder="Password">
      {{#if signup}}
        <input class="form-input" type="confirm" name="confirm" placeholder="Confirm Password">
      {{/if}}
      <input class="form-button" type="submit" value="Login">
    </div>
    <div class="form-footer">
      <p><a href="#">Forgot Password?</a></p>
      {{#if signup}}
        <p>Already have an account <a href="/login">Login</a></p>
      {{else}}
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
      {{/if}}
    </div>
  </form>
</div>

<script src="js/requests/helper.js"></script>
<script src="js/requests/auth.js"></script>
<script src="js/signin.js"></script>
